* {
	box-sizing: border-box;
	margin: 0;
	font-family: montserrat;
}

html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-image: url('assets/bg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.home {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.intro-card {
	font-size: 40px;
	width: 50%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: rgb(88, 216, 216);
}
.nav-web {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.nav-detail {
	width: 75%;
	height: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.profile-nav,
.experience-nav,
.skill-nav {
	width: 25vh;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	color: rgb(88, 216, 216);
}

.reactor {
	position: absolute;
	width: 70%;
	height: 70%;
	border: 6px solid rgba(87, 218, 218, 0.6);
	border-radius: 50%;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	animation: rotate 4s linear infinite;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reactor1 {
	position: absolute;
	width: 65%;
	height: 65%;
	border-radius: 50%;
	border: 4px solid rgb(90, 236, 236);
	animation: reactor 1s infinite;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
}

.reactor1:hover {
	cursor: pointer;
	background-color: rgba(0, 192, 192, 0.5);
}

.intro-detail {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.hello-block {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.nav-text {
	z-index: -1;
	height: 110%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.typing {
	font-size: 36px;
}

.profile {
	width: 100%;
	height: 100%;
}

.profile {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-card {
	width: 70%;
	height: 80%;
	border: 3px solid rgb(52, 150, 150);
}

.profile-title {
	display: flex;
	justify-content: center;
	height: 20%;
	align-items: center;
	color: rgb(0, 255, 255);
}

.profile-detail {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.hr {
	border: 2px solid rgb(52, 150, 150);
}

.detail-con {
	box-sizing: border-box;
	height: 20%;
	width: 100%;
	color: rgb(0, 255, 255);
	padding: 5px 20px;
}

.skills {
	width: 100%;
	height: 100vh;
}

.skills-container {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: rgb(0, 255, 255);
}

.skill-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 20%;
	color: rgb(18, 242, 221);
}
.skill-detail {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.skill {
	width: 33%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.circle {
	width: 50%;
	height: auto;
	position: relative;
}

.experiences {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.experiences-container {
	width: 60%;
	height: 90%;
	color: rgb(0, 255, 255);
}

.experience-title {
	display: flex;
	justify-content: center;
	height: 20%;
	align-items: center;
}

.experience-detail {
	height: auto;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.experience {
	margin: 2%;
	border: 2px solid rgb(52, 150, 150);
}

.experience-name,
.experience-year {
	padding: 2%;
}

.experience-year {
	color: rgb(18, 242, 221);
}

@media only screen and (max-width: 650px) {
	.nav-web {
		display: none;
	}
	.profile-title,
	.skill-title,
	.experience-title {
		font-size: 12px;
	}
	.progressbar-text {
		font-size: 20px !important;
	}
	h2 {
		font-size: 18.72px;
	}
	h3 {
		font-size: 16px;
	}
	.experience-name,
	.experience-year {
		padding: 5%;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes reactor {
	0% {
		transform: rotate(360deg);
	}
	50% {
		transform: rotate(-360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
