* {
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: url('assets/bg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.home {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.profile-card {
	width: 50%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 6px solid rgb(88, 216, 216);
	color: rgb(88, 216, 216);
}
.nav {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.nav-detail {
	width: 75%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.profile-nav {
	width: 25vh;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reactor {
	width: 70%;
	height: 70%;
	border: 6px solid rgba(87, 218, 218, 0.6);
	border-radius: 50%;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	animation: rotate 4s linear infinite;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reactor1 {
	position: absolute;
	width: 65%;
	height: 65%;
	border-radius: 50%;
	border: 4px solid rgb(90, 236, 236);
	animation: reactor 1s infinite;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes reactor {
	0% {
		transform: rotate(360deg);
		background-color: rgba(0, 192, 192, 0);
	}
	50% {
		transform: rotate(-360deg);
		background-color: rgba(0, 192, 192, 0.5);
	}
	100% {
		background-color: rgba(0, 192, 192, 0);
		transform: rotate(360deg);
	}
}
